* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background: #fff;
    color: #282828;
    font-size: 16px;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
}

header {
    text-align: center;
}

hr {
    height: 1px;
    background: black;
    width: 80%;
    margin: 24px auto;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    font-weight: bold;
}

h1 {
    padding: 48px 0;
    color: rgba(255, 255, 255, 0.8);
}

h3 {
    small {
        font-size: 12px;
        opacity: 0.8;
    }
}

.desc {
    margin-bottom: 24px;
}

main {
    padding-top: 24px;
    width: 80%;
    margin: auto;
}

.button {
    text-decoration: none;
    padding: 12px;
}

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 60vh;
    min-height: 430px;
    .profile-picture {

    }
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 70vw;
    font-size: 0;
    align-content: center;
    img {
        width: 33.333%;
    }
}

.cta {
    background: #222;
    padding: 48px 0;
    margin: 24px 0;
    text-align: center;
    a {
        color: #222;
        background: #fff;
    }
}

.split {
    display: flex;
}

.events, .posts {
    padding: 24px;
    width: 50%;
}

.events {
    background: #f7f7f7;
}
