* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    // font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-family: 'Lato', sans-serif;
    background: #fff;
    color: rgba(0, 0, 0, 0.498039);
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: 0.4px;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

header {
    text-align: center;
}

hr {
    height: 1px;
    background: black;
    width: 100%;
    margin: 24px auto;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    font-weight: bold;
}

h1 {
    padding: 48px 0;
    color: #fff;
}

h2 {
    color: rgb(32, 23, 19);
    font-size: 24px;
}

h3 {
    color: rgb(32, 23, 19);
    margin-bottom: 12px;
}

.desc {
    margin: 12px 0 24px 0;
    text-align: center;
}

main {
    padding-top: 24px;
    width: 80%;
    margin: auto;
}

.button {
    text-decoration: none;
    padding: 12px;
}

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 60vh;
    min-height: 430px;
    .profile-picture {

    }
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 70vw;
    font-size: 0;
    align-content: center;
    img {
        width: 33.333%;
    }
}

.cta {
    background: #222;
    padding: 48px 0;
    margin: 24px 0;
    text-align: center;
    a {
        color: #222;
        background: #fff;
    }
}

.split {
    display: flex;
}

.events, .posts {
    padding: 24px;
}

.events {
    display: flex;
    align-items: center;
    justify-content: center;
    .event {
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 24px;
        text-align: center;
        .event-name {
            color: #fff;
            background: #222;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            vertical-align: middle;
            line-height: 100px;
            margin: 12px auto;
        }
        p {
            font-size: 16px;
            color: #222;
            font-weight: 700;
            .event-meta {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: normal;
            }
        }
    }
}

.posts {
    display: flex;
    justify-content: space-between;
    .post {
        .post-body {
            font-weight: 700;
            font-size: 16px;
            color: #222;
        }
        .post-meta {
            font-size: 12px;
            opacity: 0.8;
            text-transform: uppercase;
        }
    }
}
