* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background: #282828;
    color: #edeff5;
    font-size: 16px;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
}

header, main {
    text-align: center;
}

hr {
    height: 1px;
    background: black;
    width: 80%;
    margin: 24px auto;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    font-weight: bold;
}

h1 {
    margin: 48px 0;
}

h3 {
    small {
        font-size: 12px;
        opacity: 0.8;
    }
}

.desc {
    margin-bottom: 24px;
}
